<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="infobase" translate="label" sortOrder="10">
            <label>Infobase</label>
        </tab>
        <section id="infobase_customer_movie" translate="label" type="text"
                 sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Movie</label>
            <tab>infobase</tab>
            <resource>Infobase_CustomerMovie::config_infobase_customer_movie</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable module customer movies?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
